shallow_clone: true

platform:
  # - x86
  - x64

configuration:
  - Debug
  # - Release

image:
  - Visual Studio 2015
  # - Visual Studio 2017

cache:
  - C:\cmake-3.10.1-win64-x64
  - C:\w_mkl_2018.0.124.exe

environment:
  matrix:
    - BLAS_VERSION: Intel10_64lp
      BUILD_STATIC : ON

    - BLAS_VERSION: Intel10_64lp
      BUILD_STATIC : OFF

    - BLAS_VERSION: Intel10_64lp_seq
      BUILD_STATIC : ON

    - BLAS_VERSION: Intel10_64lp_seq
      BUILD_STATIC : OFF

skip_commits:
# Add [av skip] to commit messages
  message: /\[av skip\]/

# To allow remote connection to appveyor
init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

install:
  ############################################################################
  # Install CMake
  ############################################################################
  - ps: |
      if (![IO.File]::Exists("C:\cmake-3.10.1-win64-x64\bin\cmake.exe")) {
        Start-FileDownload 'https://cmake.org/files/v3.10/cmake-3.10.1-win64-x64.zip'
        7z x -y cmake-3.10.1-win64-x64.zip -oC:\
      }
      $env:PATH="C:\cmake-3.10.1-win64-x64\bin;$env:PATH"

  ############################################################################
  # Install MKL
  ############################################################################
  - ps: |
      if (![IO.File]::Exists("C:\w_mkl_2018.0.124.exe")) {
        ECHO 'w_mkl_2018.0.124.exe does not exist. Preparing to download MKL ..'
        Start-FileDownload 'http://registrationcenter-download.intel.com/akdlm/irc_nas/tec/12079/w_mkl_2018.0.124.exe' -FileName 'C:\w_mkl_2018.0.124.exe'
        ECHO 'Done'
      }
      C:\w_mkl_2018.0.124.exe -s -l c:\logs\extract-mkl.log -a install --eula=accept --components=all --output='C:\logs\install-mkl-output.txt' --installdir='C:\Program Files (x86)\IntelSWTools' --log='c:\logs\install-mkl.log' | Out-Null
      $env:LD_MKL_PATH='C:\Program Files (x86)\IntelSWTools\compilers_and_libraries_2018.0.124\windows\mkl\lib\intel64_win\'
      $env:LIB="$env:LD_MKL_PATH;$env:LIB"
      $env:MKLROOT='C:\Program Files (x86)\IntelSWTools\compilers_and_libraries_2018.0.124\windows\mkl'

before_build:
  - call "C:\Program Files (x86)\IntelSWTools\compilers_and_libraries_2018.0.124\windows\bin\compilervars_arch.bat" intel64 vs2015
  - cd %APPVEYOR_BUILD_FOLDER%
  - "ECHO %BLAS_VERSION%"
  - "ECHO 'cmake -DBLA_STATIC=%BUILD_STATIC% -DBLA_VENDOR=%BLAS_VERSION% -G \"Visual Studio 14 2015 Win64\" .. '"
  - cmake --version
  - "ECHO 'MKLROOT is %MKLROOT%'"
  - ps: |
      mkdir build
      cd build
  - cmake -DBLA_STATIC=%BUILD_STATIC% -DBLA_VENDOR=%BLAS_VERSION% -G "Visual Studio 14 2015 Win64" ..

build_script:
  - cmake --build .

test_script:
  - ps: |
      if ($env:BUILD_STATIC -eq 'OFF') {
        ECHO 'BUILD_STATIC is OFF. Compying shipping libraries'
        cd 'C:\Program Files (x86)\IntelSWTools\compilers_and_libraries_2018.0.124\windows\redist\intel64_win\mkl\'
        cp *.dll $env:APPVEYOR_BUILD_FOLDER\build\
      }else{
        ECHO 'BUILD_STATIC is ON. No need to copy runtime dll'
      }
  - cd %APPVEYOR_BUILD_FOLDER%\build\
  - .\Debug\CMakeHelloWorld.exe

deploy: off

on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
